.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bbcb99;
}

.foods {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e8e8e8;
    /* border: 1px solid #3d5146;
    border-radius: 5px; */
}

.foods h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30px;
    color: #e8e8e8;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    border: 1px solid #111920;
    background: #3d5146;

}



.divfoods {
    width: 600px;
    height: 200px;
    background: #538a95;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #111920;
    border-radius: 5px;
}

@media (max-width: 650px) {
    .divfoods {
        width: 90%;
    }
    
}

@media (max-width: 420px) {
    .foods h1 {
        font-size: 12px;
        width: 80%;
    }
}
@media (max-width: 320px) {
    .foods h1 {
        font-size: 10px;
        width: 90%;
    }
}
