.container {
    width: 100%;
    height: 200px;
    background: #d3f2ee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: #111920;
}