
.header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.divImg {
    
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    background-image: url(../../assets/background.img.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
    
}

.btnsEsplorer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2px;
    
}

.img1 {
    margin-left: 5px;
    width: auto;
    height: auto;
    
}

.img2 {
    margin-top: -20px;
    z-index: 2;
    width: auto;
    height: auto;
}

.sidebar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(81, 140, 196, 1), rgb(90, 128, 211));;
    justify-content: space-between;
    z-index: 1;
    padding: 10px 10px;
    opacity: 50%;
}

.sidebar a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 16px;
    letter-spacing: 2px;

    align-items: center;
    justify-content: center;
    text-align: center;
    

}

.sidebar a:hover {
    color: #d2d2d2;
}



@media (max-width: 1256px) {
    .sidebar {
        width: 100%;

    }
    
    .img1 {

        margin-left: 5px;
        width: 140px;
        height: 140px;
    }

    .img2 {
        margin-top: -20px;
        z-index: 2;
        width: 320px;
        height: 130px;
    }

    .sidebar a {
        font-size: 14px;
        
    }
}

@media (max-width: 1025px) {
    .btnsEsplorer {
        flex-wrap: wrap;
    }
}

@media (max-width: 688px) {
    .sidebar a {
        font-size: 10px;
    }
}

@media (max-width: 850px) {
    .btnsEsplorer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }
}
@media (max-width: 550px) {
    .btnsEsplorer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }
}
@media (max-width: 500px) {

    .divImg {
        width: 100%;
        height: 100;
        
    }


    .img1 {
        margin-top: 15px;
        width: 70px;
        height: 70px;
    
    }

    .img2 {
        margin-top: 15px;
        z-index: 2;
        width: 120px;
        height: 70px;
    }

    
}

@media (max-width: 470px) {
    .divImg {
        width: 100%;
        
        
    }

    .sidebar {
        justify-content: space-around;
    }

    
}

@media (max-width: 406px) {
    .sidebar {
        width: 100%;
        
    }

}