
.header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: #e9e9e9;
}

.divImg {
    margin-top: 30px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.btnsEsplorer {
    display: flex;
    justify-content: space-around;
    gap: 2px;
    
}
    
.beer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    background: #e9e9e9;  
}  

.img1 {
    margin-left: 5px;
    width: 193px;
    height: 179px;
    
}

.img2 {
    margin-top: -20px;
    z-index: 2;
    width: 440px;
    height: 178px;
}

.sidebar {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(81, 140, 196, 1), rgb(202, 179, 128));
    justify-content: space-between;
    z-index: 1;
    padding: 10px 10px;
}

.sidebar a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 16px;
    
    

}

.sidebar a:hover {
    color: #d2d2d2;
}



@media (max-width: 1256px) {
    .sidebar {
        width: 100%;

    }
    
    .img1 {

        margin-left: 5px;
        width: 140px;
        height: 140px;
    }

    .img2 {
        margin-top: -20px;
        z-index: 2;
        width: 320px;
        height: 130px;
    }

    .sidebar a {
        font-size: 14px;
        grid-template-rows: min-content;
    }
}

@media (max-width: 1025px) {
    .btnsEsplorer {
        flex-wrap: wrap;
    }
}

@media (max-width: 470px) {
    .btnsEsplorer {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        justify-content: space-around;
    }

    .sidebar a {
        font-size: 12px;
    }
}

@media (max-width: 406px) {
    .sidebar {
        width: 100%;

    }
    
    .img1 {

        margin-left: 5px;
        width: 135px;
        height: 135px;
    }

    .img2 {
        margin-top: -20px;
        z-index: 2;
        width: 320px;
        height: 130px;
    }

    .sidebar a {
        font-size: 12px;
        grid-template-rows: min-content;
    }
}

@media (max-width: 383px) {
    .sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .beer {
        width: 135px;
        height: 135px;
        
    }
    
    .img1 {
        margin-left: 5px;
        width: 110px;
        height: 110px;
    
    }

    .img2 {
        margin-top: -20px;
        z-index: 2;
        width: 200px;
        height: 120px;
    }

    .btnsEsplorer {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        height: auto;
        padding: 5px;
    
    }

    .sidebar a {
        font-size: 10px;
        grid-template-rows: min-content;
    }

}